*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  /* by default flex-direction: row; */

  justify-content: center;
  /* works in the direction of flex-direction */

  align-items: center;
  /* works in the opposite direction of flex-direction */
}

.flex {
  width: 400px;
  height: 400px;
  display: flex;

  flex-wrap: wrap;
  /* 
  Wraps all elements in the flex container maintaining the width or height of the flex children.
  */

  justify-content: center;
  align-items: center;
  align-content: center;
  /* if flex-wrap: wrap; then align-content: center helps to center all elements in the flex container  */

  gap: 10px;
  /* adds a gap of 10px between the flex items
  
  gap: 10px 20px;
  means -->
  
  row-gap: 10px; --> add a gap of 10px betwen rows.

  column-gap: 20px; --> add a gap of 20px between columns.
  
  */
}

.flex .item {
  width: 100px;
  height: 100px;
  background-color: red;
  flex: 2 4 50px;
  /* 
  flex: 2 4 50px;
  means -->

  flex-grow: 2; -> grow by 2 with respect to flex-basis.

  flex-shrink: 4; -> shrink by 4 with respect to flex-basis.

  flex-basis: 50px; -> set the basis to 50px
  */

  align-self: flex-start;
  /*
  aligns the flex item at the start of the flex container
  */
}
